Jorndada_Agente_Email.json
{
  "name": "Jorndada_Agente_Email",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "readStatus": "unread"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -672,
        0
      ],
      "id": "83edb933-1bf5-449a-9b08-43da2036fccf",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "9HEgtyh6pJR1HAwz",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "=Título: {{ $json.subject }} \n\nTexto:{{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Potencial Cliente",
              "description": "Descrição: E-mails com interesse comercial, propostas de parceria, orçamento, agendamento de reunião ou dúvidas sobre serviços da Red Rex ou ZapFlow.  Palavras-chave que ajudam na classificação: orçamento, proposta, parceria, reunião, consultoria, projeto, serviço, empresa"
            },
            {
              "category": "Aluno da Jornada",
              "description": "Mensagens de alunos com dúvidas sobre conteúdo, acesso à plataforma, problemas com pagamento, ou suporte geral da Jornada de Dados.  Palavras-chave: acesso, curso, jornada, plataforma, pagamento, aula, inscrição, certificado"
            },
            {
              "category": "Spam ou Irrelevante",
              "description": "Descrição: E-mails genéricos, promoções automáticas, listas de e-mails ou conteúdo não solicitado.  Palavras-chave: oferta, promoção, black friday, ganhe dinheiro, última chance, sorteio, unsubscribe"
            },
            {
              "category": "E-mail Interno ou Importante",
              "description": "Descrição: E-mails com informações críticas, avisos do time, problemas técnicos ou alertas de sistemas internos.  Palavras-chave: urgente, falha, erro, sistema, produção, equipe, reunião, alerta, interno"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -432,
        -32
      ],
      "id": "ab2788f2-974d-484c-abda-cdb80c836816",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -512,
        256
      ],
      "id": "abe9051b-8d13-449f-a21b-d3847d5dd550",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "rJGHj8xVHwntB8Xc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_3818684664454427854"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        48,
        272
      ],
      "id": "85a655ef-159a-49b1-8c20-3d3b28113e99",
      "name": "Add label to message2",
      "webhookId": "50259ef1-d5ad-43ec-bae4-4f2f929d82b0",
      "credentials": {
        "gmailOAuth2": {
          "id": "9HEgtyh6pJR1HAwz",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        256,
        272
      ],
      "id": "a5f65d13-c708-4511-a02b-e871f071d161",
      "name": "Mark a message as read2",
      "webhookId": "07812003-fb41-442d-b499-4e0fc944b3a0",
      "credentials": {
        "gmailOAuth2": {
          "id": "9HEgtyh6pJR1HAwz",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_8146117535830577808"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        64,
        688
      ],
      "id": "9ba5f889-7603-4ef2-86e1-5676116fa56a",
      "name": "Add label to message3",
      "webhookId": "50259ef1-d5ad-43ec-bae4-4f2f929d82b0",
      "credentials": {
        "gmailOAuth2": {
          "id": "9HEgtyh6pJR1HAwz",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        304,
        688
      ],
      "id": "754deec9-df0a-4123-828d-6bfac278a9af",
      "name": "Mark a message as read3",
      "webhookId": "07812003-fb41-442d-b499-4e0fc944b3a0",
      "credentials": {
        "gmailOAuth2": {
          "id": "9HEgtyh6pJR1HAwz",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## PROJETOS - AGENTE DE PRÉ VENDAS ",
        "height": 624,
        "width": 2368
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -48,
        -1040
      ],
      "typeVersion": 1,
      "id": "6aed4c70-8851-4643-bf0a-958d7a28d864",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## ALUNOS- AGENTE DE COMUNICAÇÃO DE DÚVIDAS ",
        "height": 512,
        "width": 2368
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -48,
        -400
      ],
      "typeVersion": 1,
      "id": "88c82817-8175-4989-a602-f7272f3f2888",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## SPAM- AGENTE DE EXCLUSÃO DE E-MAILS DE SPAM ",
        "height": 400,
        "width": 2368,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -48,
        128
      ],
      "typeVersion": 1,
      "id": "74d44267-a132-4482-8e1c-d11ca22af320",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "delete",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        464,
        272
      ],
      "id": "bf25d9a6-d87d-4a6e-a530-606a313ffff0",
      "name": "Delete a message",
      "webhookId": "6e568e28-04ae-4b5a-b00c-868f0c416d14",
      "credentials": {
        "gmailOAuth2": {
          "id": "9HEgtyh6pJR1HAwz",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## CLASSIFICADOR- AGENTE DE CLASSIFICAÇÃO DE E-MAIL",
        "height": 2096,
        "width": 688,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -752,
        -1040
      ],
      "typeVersion": 1,
      "id": "0762c6dd-faa2-4d09-ae4e-45319b0aa267",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## URGÊNCIA- AGENTE DE ENVIO DE MENSAGENS NO WHATSAPPS ",
        "height": 512,
        "width": 2368
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -48,
        544
      ],
      "typeVersion": 1,
      "id": "11ab6140-f747-4d81-bc5f-eda2b8535953",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Data de recebimento: {{ $('Gmail Trigger').item.json.headers.date }}\nFrom: {{ $('Gmail Trigger').item.json.headers.from }}\nMensagem: {{ $('Gmail Trigger').item.json.text }}\n",
        "options": {
          "systemMessage": "Você é um agente inteligente que ajuda a classificar e resumir e-mails.\nSua tarefa é:\n1. Ler o conteúdo do e-mail fornecido.\n2. Analisar se a mensagem é urgente, com base em termos como: \"erro\", \"cancelamento\", \"problema\", \"atraso\", \"urgente\", \"reclamação\", \"falha\", \"responder hoje\", \"última tentativa\".\n3. Classificar a mensagem como:\n   - URGENTE: exige atenção imediata–\n   - NÃO URGENTE: pode ser lida depois\n   - IRRELEVANTE: spam, promoções, mensagens automáticas\n4. Criar uma resposta curta para ser enviada via WhatsApp, contendo:\n   - A classificação de urgência\n   - Um resumo breve (1 a 2 frases) do e-mail\n   - Um campo “ação sugerida” caso for URGENTE\nNão usar campos especiais ou quebras como \\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        512,
        688
      ],
      "id": "b8fb7259-fe0a-4db9-9420-faa023f46c49",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        432,
        896
      ],
      "id": "72126607-8953-467f-8ec3-25e236fa7c82",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "rJGHj8xVHwntB8Xc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.egdconsultoria.shop/message/sendText/ChatBot EGD",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "4DB810320F30-4001-B307-C04D2937BB77"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"+5511940502208\",\n    \"text\": \"{{ $json.output }}\"\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        864,
        688
      ],
      "id": "62cc564f-2f8c-4ce5-9e25-04bbe92cc276",
      "name": "HTTP Request"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        656,
        912
      ],
      "id": "7667e70b-1274-4c01-a2de-9cfb58c48697",
      "name": "Think1"
    },
    {
      "parameters": {
        "sendTo": "={{ $('AI Agent3').item.json.output.email }}",
        "subject": "={{ $('AI Agent3').item.json.output.subject }}",
        "emailType": "text",
        "message": "={{ $('AI Agent3').item.json.output.mensagem_email }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1824,
        -816
      ],
      "id": "e0089172-1d2a-4ba0-b525-d7086e7cfbb7",
      "name": "Send a message1",
      "webhookId": "e0a6b390-03c5-4cda-82da-132a4964514d",
      "credentials": {
        "gmailOAuth2": {
          "id": "9HEgtyh6pJR1HAwz",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Create a document1').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1648,
        -816
      ],
      "id": "37796e98-5892-4c60-9bff-30e93980499a",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "48LShjPz9YKD039E",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "attachment",
        "operation": "create",
        "cardId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "url": "=https://docs.google.com/document/d/{{ $('Create a document1').item.json.id }}/edit",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        2032,
        -992
      ],
      "id": "9bd9eba3-dec0-40fc-bfd6-a29072a0723b",
      "name": "Create Attachment - Funil de Vendas"
    },
    {
      "parameters": {
        "listId": "68c646a29b8e05abd15faece",
        "name": "={{ $('transform_documents_proposta1').item.json.titulo }}",
        "description": "={{ $('transform_documents_proposta1').item.json.projeto.resumo }}",
        "additionalFields": {
          "due": "2025-09-30T00:00:00"
        }
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        1824,
        -992
      ],
      "id": "fdb14be2-039c-46a4-a844-82a0cd935f22",
      "name": "Create card - Funil de Vendas"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.egdconsultoria.shop/message/sendText/ChatBot EGD",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "4DB810320F30-4001-B307-C04D2937BB77"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.number }}\",\n    \"text\": \"{{ $json.text }}\"\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1376,
        -992
      ],
      "id": "30c42b29-c1b8-4e4a-8496-a8cf53071b25",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\nreturn [\n  {\n    json: {\n      number: \"+5511940502208\",\n      text:\n`📊 *Nova Solicitação - ${data[\"Nome\"]}* 📊 ` +\n`📝 *Resumo*: ${data[\" Resumo\"]} ` +\n`📌 *Escopo*: ${data[\"Escopo resumido\"]} ` +\n`⏳ *Estimativa*: ${data[\"Estimativa Resumida\"]} ` +\n`⚠️ *Riscos*: ${data[\"Riscos Resumidos\"]} ` +\n`📧 *Contato*: ${data[\"Email\"]} ` +\n`📅 *Data*: ${data[\"Data de Recebimento\"]} ` +\n`❓ *Perguntas para Reunião*: ${data[\"Perguntas para Reunião\"]}`\n    }\n  }\n]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        -992
      ],
      "id": "0a21c61a-577e-4160-aa49-e0495af9e2c3",
      "name": "Code1"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_658843469248575570"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        32,
        -784
      ],
      "id": "708bcd55-22ac-4bf0-bb2d-ff8fd130012e",
      "name": "Add label to message4",
      "webhookId": "50259ef1-d5ad-43ec-bae4-4f2f929d82b0",
      "credentials": {
        "gmailOAuth2": {
          "id": "9HEgtyh6pJR1HAwz",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        256,
        -784
      ],
      "id": "976d1623-8be1-45c1-8d96-2faddd6859fa",
      "name": "Mark a message as read4",
      "webhookId": "07812003-fb41-442d-b499-4e0fc944b3a0",
      "credentials": {
        "gmailOAuth2": {
          "id": "9HEgtyh6pJR1HAwz",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Meu título: {{ $('Gmail Trigger').item.json.subject }}\n\nMeu Texto: {{ $('Gmail Trigger').item.json.text }}\n\nEmail: {{ $('Gmail Trigger').item.json.from.value[0].address }}\n\nNome: {{ $('Gmail Trigger').item.json.from.value[0].name }}\n\nData de Recebimento: {{ $('Gmail Trigger').item.json.date }}\n\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Você é um engenheiro de dados responsável por analisar demandas técnicas recebidas por e-mail, WhatsApp ou formulário. Sua função é interpretar essas solicitações e gerar um JSON com informações técnicas e comerciais para uso em CRM e pré-vendas.\nVocê deve gerar um único objeto JSON, com todos os campos em formato texto corrido, sem listas ou arrays, mesmo quando houver múltiplos itens.\nAlém dos campos técnicos e comerciais, inclua três perguntas importantes que devem ser feitas na primeira reunião com o cliente, para melhor entendimento do projeto.\n---\nO JSON deve conter os seguintes campos:\n- resumo: descrição técnica resumida da demanda\n- escopo: etapas técnicas propostas, descritas em texto corrido\n- estimativa_de_esforco: tempo estimado por fase do projeto (também em texto corrido)\n- stack_sugerida: ferramentas/tecnologias recomendadas, separadas por vírgula\n- nome: nome do solicitante\n- email: e-mail do solicitante\n- data_de_recebimento: data da solicitação no formato ISO\n- motivo_do_contato: qual foi o motivo inicial da solicitação\n- escopo_resumido: escopo técnico em uma frase\n- estimativa_resumida: tempo total estimado do projeto\n- riscos_resumidos: possíveis riscos ou obstáculos\n- perguntas_para_reuniao: três perguntas que devem ser feitas na primeira conversa, em uma única string com pontuação adequada\nAdicionalmente, gere dois novos campos no final do JSON:\n- subject: assunto do e-mail de resposta automática\n- mensagem_email: corpo do e-mail de resposta (em texto corrido), utilizando o nome do solicitante e o resumo do projeto\nUse um tom profissional e acolhedor.\nExemplo esperado:\n\"subject\": \"Sobre sua solicitação – Projeto de Dados\",\n\"mensagem_email\": \"Olá João da Silva,\\n\\nRecebemos sua solicitação e já estamos avaliando os detalhes técnicos do seu projeto. Nossa equipe de engenharia de dados preparou uma proposta inicial com base nas informações enviadas. Em breve, entraremos em contato para alinhar próximos passos.\\n\\nAtenciosamente,\\nEquipe Red Rex\\n\\n---\\nResumo do pedido: [resumo aqui]\"\n---\n**Formato de resposta esperado: apenas um JSON. Não inclua explicações ou quebras de linha.**\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        512,
        -784
      ],
      "id": "6e401208-25a5-4d3f-94bc-50451ba9098e",
      "name": "AI Agent3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        384,
        -576
      ],
      "id": "928728cd-874f-4100-971a-8eb0364c50a4",
      "name": "Google Gemini Chat Model4",
      "credentials": {
        "googlePalmApi": {
          "id": "rJGHj8xVHwntB8Xc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        640,
        -528
      ],
      "id": "4c09cb21-053e-4783-bfad-b2788dfd8af6",
      "name": "Think2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ytmWOkexXUKflLGpc0EmZvhCJNL_PHJnwAW18lqSsUg",
          "mode": "list",
          "cachedResultName": "Jornada_CRM_Email",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ytmWOkexXUKflLGpc0EmZvhCJNL_PHJnwAW18lqSsUg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ytmWOkexXUKflLGpc0EmZvhCJNL_PHJnwAW18lqSsUg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "  Resumo": "={{ $json.output.resumo }}",
            "Escopo": "={{ $json.output.escopo }}",
            "Estimativa de Esforço": "={{ $json.output.estimativa_de_esforco }}",
            "Stack Sugerida": "={{ $json.output.stack_sugerida }}",
            "Nome": "={{ $json.output.nome }}",
            "Email": "={{ $json.output.email }}",
            "Data de Recebimento": "={{ $json.output.data_de_recebimento }}",
            "Motivo do Contato": "={{ $json.output.motivo_do_contato }}",
            "Escopo resumido": "={{ $json.output.escopo_resumido }}",
            "Estimativa Resumida": "={{ $json.output.estimativa_resumida }}",
            "Riscos Resumidos": "={{ $json.output.riscos_resumidos }}",
            "Perguntas para Reunião": "={{ $json.output.perguntas_para_reuniao }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "  Resumo",
              "displayName": "  Resumo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Escopo",
              "displayName": "Escopo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estimativa de Esforço",
              "displayName": "Estimativa de Esforço",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Stack Sugerida",
              "displayName": "Stack Sugerida",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data de Recebimento",
              "displayName": "Data de Recebimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Motivo do Contato",
              "displayName": "Motivo do Contato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Escopo resumido",
              "displayName": "Escopo resumido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estimativa Resumida",
              "displayName": "Estimativa Resumida",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Riscos Resumidos",
              "displayName": "Riscos Resumidos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Perguntas para Reunião",
              "displayName": "Perguntas para Reunião",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        976,
        -992
      ],
      "id": "ac7625c6-7a38-4240-b712-39342bdcf219",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "O714q9hLnG61u8xY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"resumo\": \"Cliente deseja automatizar relatórios de vendas diários, integrando os dados do ERP interno a um sistema de dashboards atualizados automaticamente.\",\n  \"escopo\": \"Coleta de dados via API REST, armazenamento em BigQuery, transformação com dbt e visualização com Looker Studio.\",\n  \"estimativa_de_esforco\": \"Coleta: 5 dias, Transformação: 3 dias, Visualização: 2 dias.\",\n  \"stack_sugerida\": \"Airbyte, dbt, BigQuery, Looker Studio.\",\n  \"nome\": \"João da Silva\",\n  \"email\": \"joao@empresa.com\",\n  \"data_de_recebimento\": \"2025-07-03T14:00:00Z\",\n  \"motivo_do_contato\": \"Solicitou automação de relatórios de vendas recorrentes.\",\n  \"escopo_resumido\": \"Pipeline automatizado com dashboard integrado.\",\n  \"estimativa_resumida\": \"3 semanas de duração total estimada.\",\n  \"riscos_resumidos\": \"Instabilidade da API, ausência de documentação do ERP e possíveis limitações de acesso.\",\n  \"perguntas_para_reuniao\": \"1. O ERP atual possui documentação da API e acesso técnico disponível? 2. Existe um padrão de atualização e limpeza dos dados que devemos seguir? 3. Qual ferramenta de visualização é preferida pelo time de tomada de decisão?\",\n  \"subject\": \"Sobre sua solicitação – Projeto de Dados\",\n\"mensagem_email\": \"Olá João da Silva,\\n\\nRecebemos sua solicitação e já estamos avaliando os detalhes técnicos do seu projeto. Nossa equipe de engenharia de dados preparou uma proposta inicial com base nas informações enviadas. Em breve, entraremos em contato para alinhar próximos passos.\\n\\nAtenciosamente,\\nEquipe Red Rex\\n\\n---\\nResumo do pedido: [resumo aqui]\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        800,
        -576
      ],
      "id": "2f521bb9-56d7-49b5-83b5-08b82338982b",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "folderId": "1HRJ10zMfhy9qjQ9_13jam85nqa6aHtiP",
        "title": "=Proposta Solicitada - {{ $('Gmail Trigger').item.json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1312,
        -816
      ],
      "id": "85c31190-8621-4ee1-aeab-a2d23a21b413",
      "name": "Create a document1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Uy4QDHbajHPeyziq",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "simple": false,
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Code2').item.json.texto }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1488,
        -816
      ],
      "id": "02cf7434-42fd-45d7-9cc8-dbf02b093735",
      "name": "Update a document1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Uy4QDHbajHPeyziq",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Supondo que a entrada venha como items[0].json.output\nconst data = items[0].json.output;\n\nconst doc = {\n  titulo: `Proposta – ${data.nome}`,\n  data_recebimento: new Date(data.data_de_recebimento).toLocaleDateString(\"pt-BR\"),\n  cliente: {\n    nome: data.nome,\n    email: data.email,\n    motivo: data.motivo_do_contato,\n  },\n  projeto: {\n    resumo: data.resumo,\n    escopo: data.escopo,\n    escopo_resumido: data.escopo_resumido,\n    estimativa: data.estimativa_de_esforco,\n    estimativa_resumida: data.estimativa_resumida,\n    stack_sugerida: data.stack_sugerida,\n    riscos: data.riscos_resumidos,\n  },\n  reuniao: {\n    perguntas: data.perguntas_para_reuniao.split(\"?\").map(p => p.trim()).filter(Boolean)\n  },\n  comunicacao: {\n    assunto_email: data.subject,\n    mensagem_email: data.mensagem_email\n  }\n};\n\nreturn [{ json: doc }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        -688
      ],
      "id": "661b759a-6b1d-4a7a-b8d1-027a3799c72c",
      "name": "transform_documents_proposta1"
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json; // seu transform_documents_proposta\n\nlet texto = `\n📄 ${data.titulo}\nData de recebimento: ${data.data_recebimento}\n\n👤 Cliente\nNome: ${data.cliente.nome}\nEmail: ${data.cliente.email}\nMotivo: ${data.cliente.motivo}\n\n📌 Projeto\nResumo: ${data.projeto.resumo}\nEscopo: ${data.projeto.escopo}\nEscopo resumido: ${data.projeto.escopo_resumido}\nEstimativa detalhada: ${data.projeto.estimativa}\nEstimativa resumida: ${data.projeto.estimativa_resumida}\nStack sugerida: ${data.projeto.stack_sugerida}\nRiscos: ${data.projeto.riscos}\n\n🗓️ Reunião1\nPerguntas:\n- ${data.reuniao.perguntas.join(\"\\n- \")}\n\n📨 Comunicação\nAssunto: ${data.comunicacao.assunto_email}\nMensagem:\n${data.comunicacao.mensagem_email}\n`;\n\nreturn [{ json: { texto } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        -816
      ],
      "id": "a03cffe8-8819-420f-9b39-ef7674e1b0c9",
      "name": "Code2"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_8440134919789898355"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        16,
        -288
      ],
      "id": "af3c816d-15ee-4b51-bad0-d8762bc49185",
      "name": "Add label to message1",
      "webhookId": "50259ef1-d5ad-43ec-bae4-4f2f929d82b0",
      "credentials": {
        "gmailOAuth2": {
          "id": "9HEgtyh6pJR1HAwz",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        272,
        -288
      ],
      "id": "dd928b3e-ac2c-4118-a23d-d8b68ae51b01",
      "name": "Mark a message as read1",
      "webhookId": "07812003-fb41-442d-b499-4e0fc944b3a0",
      "credentials": {
        "gmailOAuth2": {
          "id": "9HEgtyh6pJR1HAwz",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Meu título: {{ $('Gmail Trigger').item.json.subject }}\n\nMeu Texto: {{ $('Gmail Trigger').item.json.text }}\n\nEmail: {{ $('Gmail Trigger').item.json.from.value[0].address }}\n\nNome: {{ $('Gmail Trigger').item.json.from.value[0].name }}\n\nData de Recebimento: {{ $('Gmail Trigger').item.json.date }}\n\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Você é um engenheiro de dados responsável por analisar demandas técnicas recebidas por e-mail, WhatsApp ou formulário. Sua função é interpretar essas solicitações e gerar um JSON com informações técnicas e comerciais para uso em CRM e pré-vendas.\nVocê deve gerar um único objeto JSON, com todos os campos em formato texto corrido, sem listas ou arrays, mesmo quando houver múltiplos itens.\nAlém dos campos técnicos e comerciais, inclua três perguntas importantes que devem ser feitas na primeira reunião com o cliente, para melhor entendimento do projeto.\n---\nO JSON deve conter os seguintes campos:\n- resumo: descrição técnica resumida da demanda\n- escopo: etapas técnicas propostas, descritas em texto corrido\n- estimativa_de_esforco: tempo estimado por fase do projeto (também em texto corrido)\n- stack_sugerida: ferramentas/tecnologias recomendadas, separadas por vírgula\n- nome: nome do solicitante\n- email: e-mail do solicitante\n- data_de_recebimento: data da solicitação no formato ISO\n- motivo_do_contato: qual foi o motivo inicial da solicitação\n- escopo_resumido: escopo técnico em uma frase\n- estimativa_resumida: tempo total estimado do projeto\n- riscos_resumidos: possíveis riscos ou obstáculos\n- perguntas_para_reuniao: três perguntas que devem ser feitas na primeira conversa, em uma única string com pontuação adequada\nAdicionalmente, gere dois novos campos no final do JSON:\n- subject: assunto do e-mail de resposta automática\n- mensagem_email: corpo do e-mail de resposta (em texto corrido), utilizando o nome do solicitante e o resumo do projeto\nUse um tom profissional e acolhedor.\nExemplo esperado:\n\"subject\": \"Sobre sua solicitação – Projeto de Dados\",\n\"mensagem_email\": \"Olá João da Silva,\\n\\nRecebemos sua solicitação e já estamos avaliando os detalhes técnicos do seu projeto. Nossa equipe de engenharia de dados preparou uma proposta inicial com base nas informações enviadas. Em breve, entraremos em contato para alinhar próximos passos.\\n\\nAtenciosamente,\\nEquipe Red Rex\\n\\n---\\nResumo do pedido: [resumo aqui]\"\n---\n**Formato de resposta esperado: apenas um JSON. Não inclua explicações ou quebras de linha.**\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        496,
        -288
      ],
      "id": "8fea1430-e86a-4c2e-a7c2-5a7ac4a7d70a",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        416,
        -32
      ],
      "id": "cb3e15b1-a8af-410b-af6e-2aeab2b89360",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "rJGHj8xVHwntB8Xc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"subject\": \"Sobre sua solicitação – Projeto de Dados\",\n\"mensagem_email\": \"Olá João da Silva,\\n\\nRecebemos sua solicitação e já estamos avaliando os detalhes técnicos do seu projeto. Nossa equipe de engenharia de dados preparou uma proposta inicial com base nas informações enviadas. Em breve, entraremos em contato para alinhar próximos passos.\\n\\nAtenciosamente,\\nEquipe Red Rex\\n\\n---\\nResumo do pedido: [resumo aqui]\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        672,
        -64
      ],
      "id": "3707b556-0e3b-45e0-9d35-7a04ca9ae9a8",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Gmail Trigger').item.json.from.value[0].address }}",
        "subject": "={{ $json.output.subject }}",
        "emailType": "text",
        "message": "={{ $json.output.mensagem_email }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        816,
        -288
      ],
      "id": "e338adcd-0ab8-449a-9034-a4621a8f0d94",
      "name": "Send a message",
      "webhookId": "4027342f-0278-40c0-a940-039c9cecf078",
      "credentials": {
        "gmailOAuth2": {
          "id": "9HEgtyh6pJR1HAwz",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "listId": "68c6411a6a08e1b3994f0e16",
        "name": "={{ $('AI Agent1').item.json.output.subject }}",
        "description": "={{ $('AI Agent1').item.json.output.mensagem_email }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        1056,
        -288
      ],
      "id": "6a9f1fa7-3490-4b11-8920-a6b214edae08",
      "name": "Create card - Suporte de TI"
    }
  ],
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "1994659880491b43",
          "threadId": "1994659880491b43",
          "labelIds": [
            "Label_658843469248575570",
            "UNREAD",
            "CATEGORY_PERSONAL",
            "INBOX"
          ],
          "sizeEstimate": 8471,
          "headers": {
            "delivered-to": "Delivered-To: leninediniz2710@gmail.com",
            "received": "Received: from mail-sor-f41.google.com (mail-sor-f41.google.com. [209.85.220.41])\r\n        by mx.google.com with SMTPS id 98e67ed59e1d1-32dd980c332sor5352172a91.2.2025.09.13.20.51.36\r\n        for <leninediniz2710@gmail.com>\r\n        (Google Transport Security);\r\n        Sat, 13 Sep 2025 20:51:37 -0700 (PDT)",
            "x-received": "X-Received: by 2002:a17:90b:1dce:b0:32d:e2c1:2f6f with SMTP id\r\n 98e67ed59e1d1-32de4e77847mr9406022a91.5.1757821896429; Sat, 13 Sep 2025\r\n 20:51:36 -0700 (PDT)",
            "arc-seal": "ARC-Seal: i=1; a=rsa-sha256; t=1757821897; cv=none;\r\n        d=google.com; s=arc-20240605;\r\n        b=fkZHc56GZsU3fU/GldHQ+yiG1XTaXPm6QM4BLUuBHA/zD7WcnVlB+1B4dGOtWGPDek\r\n         C26TJPAufj4E2oHEU8D3i1xlOIJZZFvga5sQxQ2YFRWTCupJPDCJGTPfRQp0Ei9BM9rh\r\n         ylhZjFTLuyoV0FpbrJa+5TTeoaHjpXRntG6jxXcafSRRrjBiQSysgZzIL5B59DRGqd3e\r\n         MwkRmLF2W3idQ5aQMt0FONqLQakyP2S6uyt1/jWVOTOcmOvX1ZBjBf5mvf3M6l8R1k9S\r\n         EmpCe5ZG8vK9zwosKSiSGnAACM4F7H9KWFGZyf5azmVZR4Mq+lDbrKRb0BzyuG4Tm31f\r\n         cB7g==",
            "arc-message-signature": "ARC-Message-Signature: i=1; a=rsa-sha256; c=relaxed/relaxed; d=google.com; s=arc-20240605;\r\n        h=to:subject:message-id:date:from:mime-version:dkim-signature;\r\n        bh=xz+vrnDzAwblkeK7FIgIo86ApuTVjKc6CAlH3CH+27g=;\r\n        fh=ewIynaBVy5AZR1BK/0HHDg6AD6m6jzYQkCeyPOUIchk=;\r\n        b=FIgPQ9PI2zbYgJOvbAcukrSwGOcWYuabPt6yyDToDaCokH/2/645ku3QrNkQuqwOGH\r\n         RkYDXcndSTxwVjyrCFOg0GPhOqwhFOocNaDdfsxDatLQffcg6CK55ykINpmOHkA8ZTS9\r\n         yyxdzSRGUo6QwVXzYn88uHoKevET+WXeBPi1ih1Wz+B0eJzDAAvulnOeMWJ/Y82IT2A0\r\n         hIIfOWzNcf8VuEny9kz7G0XoiMKumTm69yarbRmni8880l2kI8t/0xs9dgB2Q7+ZOqdy\r\n         Y7AL3XGhkjMjmgBc6QXK0/+wwmV+f5FoqxlPX/MLX1rAc35Lnp/hzVI38yVcMNteXf0S\r\n         Nx/Q==;\r\n        dara=google.com",
            "arc-authentication-results": "ARC-Authentication-Results: i=1; mx.google.com;\r\n       dkim=pass header.i=@gmail.com header.s=20230601 header.b=k2I20UoW;\r\n       spf=pass (google.com: domain of francesosasco@gmail.com designates 209.85.220.41 as permitted sender) smtp.mailfrom=francesosasco@gmail.com;\r\n       dmarc=pass (p=NONE sp=QUARANTINE dis=NONE) header.from=gmail.com;\r\n       dara=pass header.i=@gmail.com",
            "return-path": "Return-Path: <francesosasco@gmail.com>",
            "received-spf": "Received-SPF: pass (google.com: domain of francesosasco@gmail.com designates 209.85.220.41 as permitted sender) client-ip=209.85.220.41;",
            "authentication-results": "Authentication-Results: mx.google.com;\r\n       dkim=pass header.i=@gmail.com header.s=20230601 header.b=k2I20UoW;\r\n       spf=pass (google.com: domain of francesosasco@gmail.com designates 209.85.220.41 as permitted sender) smtp.mailfrom=francesosasco@gmail.com;\r\n       dmarc=pass (p=NONE sp=QUARANTINE dis=NONE) header.from=gmail.com;\r\n       dara=pass header.i=@gmail.com",
            "dkim-signature": "DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;\r\n        d=gmail.com; s=20230601; t=1757821896; x=1758426696; dara=google.com;\r\n        h=to:subject:message-id:date:from:mime-version:from:to:cc:subject\r\n         :date:message-id:reply-to;\r\n        bh=xz+vrnDzAwblkeK7FIgIo86ApuTVjKc6CAlH3CH+27g=;\r\n        b=k2I20UoWXzNuq8SmdRiAJ+G4ZDXnH7gb+3qph06Rdeh8Q1Ps4TPqeZrflVgNorbpDh\r\n         djPpdSJuJE+sfRSW4uwXB0kywyg6ogmiGEUgSAmuS1JF+N/WfpI88UqOyeax84Dy61YM\r\n         tYJHuhfmz60jc++UEA4lMuZf0aBqz+kNl2nHj3bfMueYK3B/5vyVE0rD8q5yfO9mQOTG\r\n         FyqBR8+QKGr2oc24ptGI6o9pY7I8HNYkXd69d4/axtN0a8P5d+A+vSOPYgTzuK2GzxpS\r\n         eiltaO4bob7A24D5JvE9Inpz3pqgKRXVI5c3bPOW0FpQY0BplN9JCbqH2HQ3rsgOAO6E\r\n         TmqQ==",
            "x-google-dkim-signature": "X-Google-DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;\r\n        d=1e100.net; s=20230601; t=1757821896; x=1758426696;\r\n        h=to:subject:message-id:date:from:mime-version:x-gm-message-state\r\n         :from:to:cc:subject:date:message-id:reply-to;\r\n        bh=xz+vrnDzAwblkeK7FIgIo86ApuTVjKc6CAlH3CH+27g=;\r\n        b=SVO3i8IkIObI1z/yjAvxL3vaZqv55BImHKN/guIPzixR0mohot7V3I7915GQxGKgzN\r\n         g1q6Hj3a5drE3o+RRVK6uk/t9+P0MaofRD2qLFoLT2YHDxCov03zJZgip4gU6aeRvlmV\r\n         BolihkvDXruj3are8b/nzkWvpKSXRbqPKbg8KpKCI08yJORvSnhyh2iBgQhpLktN85JO\r\n         bUqO/NeR72CYPOQqn2olCWp18hriIw13WE8yqQqnQeMuq8jOHA9x3TvrC65e388ov/X9\r\n         BO+GpFQuHLFoEjtUe8zl5pfX0DCoyyVX+hkFu8HPz2LqS2w7XWXlUc4/Um/4vG1fj0lj\r\n         mz/w==",
            "x-gm-message-state": "X-Gm-Message-State: AOJu0Yz7h38uvHf8EBufTHlq8lGyrTDyES8xCe0A/d9pAsUMIIRInxIQ\r\n\tyW6nyPHZqyoeFG8LQPv5gHUA44GmjlfOct8TMzYfJ9eV0QFlvksiFfi/dqzd1u6+5M7oPF+bEvs\r\n\th2mJOhisaTj077KO0OmVHS9U6iiSgjoCp1OoJ",
            "x-gm-gg": "X-Gm-Gg: ASbGncs1N8divxPVJBfwc8ksxGK6sdPIvh/n1rCHHYimBFQBzkwsDTQ3UQ3fQKPhat9\r\n\tuq3TQABVm514PTWr4AwmPl7lSJx4qEuExjhvn22OO6T2zKitka9DQyWjXxprkF143fsJ7+j+BsL\r\n\twdqFF7+AvKYI07FNxtzLp+euohtf5QVBkyWqm2PVPSY4yWrGcyDi7N3u2uG0XA45RXeQo05Irz/\r\n\tblPvOK/ZTJbIHpck/Fs965N9N0Oq+tMERVHwNrVYagxPoPzIQ==",
            "x-google-smtp-source": "X-Google-Smtp-Source: AGHT+IHrfNc+TWru3iCd3wgXFJeYudifR4d1VBDqq9PknlwuAfRAEsLXx11FyeQmJkwG1Cem6dQFgimIdz6u8vwD3jI=",
            "mime-version": "MIME-Version: 1.0",
            "from": "From: Brasil Idiomas <francesosasco@gmail.com>",
            "date": "Date: Sun, 14 Sep 2025 00:51:22 -0300",
            "x-gm-features": "X-Gm-Features: Ac12FXwlyubxUtg5Rg1pMkx3WeKzH5YCUzo7gyifGnKTf-yU-k5NVeTcEfuf-XY",
            "message-id": "Message-ID: <CACeCkSrgzZAsrf_nrTUjaXfeVJCXH01=ctBjxQLW9rsv1_wMKw@mail.gmail.com>",
            "subject": "Subject: =?UTF-8?B?U29saWNpdGHDp8OjbyBkZSBvcsOnYW1lbnRvIGUgYWdlbmRhIGRlIHJldW5pw6NvIOKAkw==?=\r\n\t=?UTF-8?B?IFtQcm9qZXRvL1NlcnZpw6dvXQ==?=",
            "to": "To: Eugenio Lenine <leninediniz2710@gmail.com>",
            "content-type": "Content-Type: multipart/alternative; boundary=\"000000000000b71529063ebacd0d\""
          },
          "html": "<div dir=\"ltr\"><div><p>Meu nome é <strong>[Seu Nome]</strong>, da <strong>[Sua Empresa]</strong>. Temos interesse em <strong>[consultoria/projeto/serviço específico]</strong> e gostaríamos de entender melhor a proposta de vocês para <strong>[objetivo ou problema a resolver]</strong>.</p>\n<p><strong>Escopo inicial (resumo):</strong></p>\n<ul>\n<li>\n<p>Contexto: [breve contexto do negócio]</p>\n</li>\n<li>\n<p>Necessidades: [ex.: implementação de pipeline de dados, dashboards, automação de processos]</p>\n</li>\n<li>\n<p>Prazo desejado: [data/estimativa]</p>\n</li>\n<li>\n<p>Orçamento estimado (opcional): [faixa ou “a definir”]</p>\n</li>\n</ul>\n<p>Poderiam, por favor:</p>\n<ol>\n<li>\n<p>Enviar <strong>uma proposta</strong> (com escopo, etapas, prazos e valores);</p>\n</li>\n<li>\n<p>Sugerir <strong>horários para uma reunião</strong> de alinhamento nesta semana (ou <strong>[2–3 opções de data/hora]</strong>)?</p>\n</li>\n</ol>\n<p><strong>Informações de contato:</strong></p>\n<ul>\n<li>\n<p>Nome: [Seu Nome]</p>\n</li>\n<li>\n<p>Cargo: [Seu Cargo]</p>\n</li>\n<li>\n<p>Empresa: [Sua Empresa]</p>\n</li>\n<li>\n<p>E-mail: [<a class=\"gmail-decorated-link gmail-cursor-pointer\" rel=\"noopener\">seuemail@empresa.com<span aria-hidden=\"true\" class=\"gmail-ms-0.5 gmail-inline-block gmail-align-middle gmail-leading-none\"></span></a>]</p>\n</li>\n<li>\n<p>Telefone/WhatsApp: [DDD + número]</p></li></ul></div></div>\n",
          "text": "Meu nome é *[Seu Nome]*, da *[Sua Empresa]*. Temos interesse em\n*[consultoria/projeto/serviço\nespecífico]* e gostaríamos de entender melhor a proposta de vocês para\n*[objetivo\nou problema a resolver]*.\n\n*Escopo inicial (resumo):*\n\n   -\n\n   Contexto: [breve contexto do negócio]\n   -\n\n   Necessidades: [ex.: implementação de pipeline de dados, dashboards,\n   automação de processos]\n   -\n\n   Prazo desejado: [data/estimativa]\n   -\n\n   Orçamento estimado (opcional): [faixa ou “a definir”]\n\nPoderiam, por favor:\n\n   1.\n\n   Enviar *uma proposta* (com escopo, etapas, prazos e valores);\n   2.\n\n   Sugerir *horários para uma reunião* de alinhamento nesta semana (ou *[2–3\n   opções de data/hora]*)?\n\n*Informações de contato:*\n\n   -\n\n   Nome: [Seu Nome]\n   -\n\n   Cargo: [Seu Cargo]\n   -\n\n   Empresa: [Sua Empresa]\n   -\n\n   E-mail: [seuemail@empresa.com]\n   -\n\n   Telefone/WhatsApp: [DDD + número]\n",
          "textAsHtml": "<p>Meu nome &eacute; *[Seu Nome]*, da *[Sua Empresa]*. Temos interesse em<br/>*[consultoria/projeto/servi&ccedil;o<br/>espec&iacute;fico]* e gostar&iacute;amos de entender melhor a proposta de voc&ecirc;s para<br/>*[objetivo<br/>ou problema a resolver]*.</p><p>*Escopo inicial (resumo):*</p><p>   -</p><p>   Contexto: [breve contexto do neg&oacute;cio]<br/>   -</p><p>   Necessidades: [ex.: implementa&ccedil;&atilde;o de pipeline de dados, dashboards,<br/>   automa&ccedil;&atilde;o de processos]<br/>   -</p><p>   Prazo desejado: [data/estimativa]<br/>   -</p><p>   Or&ccedil;amento estimado (opcional): [faixa ou &ldquo;a definir&rdquo;]</p><p>Poderiam, por favor:</p><p>   1.</p><p>   Enviar *uma proposta* (com escopo, etapas, prazos e valores);<br/>   2.</p><p>   Sugerir *hor&aacute;rios para uma reuni&atilde;o* de alinhamento nesta semana (ou *[2&ndash;3<br/>   op&ccedil;&otilde;es de data/hora]*)?</p><p>*Informa&ccedil;&otilde;es de contato:*</p><p>   -</p><p>   Nome: [Seu Nome]<br/>   -</p><p>   Cargo: [Seu Cargo]<br/>   -</p><p>   Empresa: [Sua Empresa]<br/>   -</p><p>   E-mail: [seuemail@empresa.com]<br/>   -</p><p>   Telefone/WhatsApp: [DDD + n&uacute;mero]</p>",
          "subject": "Solicitação de orçamento e agenda de reunião – [Projeto/Serviço]",
          "date": "2025-09-14T03:51:22.000Z",
          "to": {
            "value": [
              {
                "address": "leninediniz2710@gmail.com",
                "name": "Eugenio Lenine"
              }
            ],
            "html": "<span class=\"mp_address_group\"><span class=\"mp_address_name\">Eugenio Lenine</span> &lt;<a href=\"mailto:leninediniz2710@gmail.com\" class=\"mp_address_email\">leninediniz2710@gmail.com</a>&gt;</span>",
            "text": "\"Eugenio Lenine\" <leninediniz2710@gmail.com>"
          },
          "from": {
            "value": [
              {
                "address": "francesosasco@gmail.com",
                "name": "Brasil Idiomas"
              }
            ],
            "html": "<span class=\"mp_address_group\"><span class=\"mp_address_name\">Brasil Idiomas</span> &lt;<a href=\"mailto:francesosasco@gmail.com\" class=\"mp_address_email\">francesosasco@gmail.com</a>&gt;</span>",
            "text": "\"Brasil Idiomas\" <francesosasco@gmail.com>"
          },
          "messageId": "<CACeCkSrgzZAsrf_nrTUjaXfeVJCXH01=ctBjxQLW9rsv1_wMKw@mail.gmail.com>"
        }
      }
    ]
  },
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Add label to message4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message2": {
      "main": [
        [
          {
            "node": "Mark a message as read2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message3": {
      "main": [
        [
          {
            "node": "Mark a message as read3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark a message as read2": {
      "main": [
        [
          {
            "node": "Delete a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark a message as read3": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create card - Funil de Vendas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create card - Funil de Vendas": {
      "main": [
        [
          {
            "node": "Create Attachment - Funil de Vendas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message4": {
      "main": [
        [
          {
            "node": "Mark a message as read4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark a message as read4": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "transform_documents_proposta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Create a document1": {
      "main": [
        [
          {
            "node": "Update a document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document1": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transform_documents_proposta1": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Create a document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message1": {
      "main": [
        [
          {
            "node": "Mark a message as read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark a message as read1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Create card - Suporte de TI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a6e0d368-99c0-49b6-832c-0128a5151c33",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b7c1fe45e78f5953159ad165952c76ae1ea1f19abedddb299bd3459a46f42217"
  },
  "id": "My7DEPxxbscaQvnG",
  "tags": []
}
